<div id="<%= dom_id travel %>">
  <p>
    <strong>Title:</strong>
    <%= travel.title %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= travel.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= travel.end_date %>
  </p>

</div>
